/* NAVBAR */
.logo {
  width: 153px;
}
.thefirm-nav ul li a {
  transition: all 2s;
}
.thefirm-nav ul li a:hover {
  color: #1e1e1e;
}
.thefirm-nav ul li a:hover::before {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 100%;
  height: 5px;
  bottom: 21%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  --webkit-animation: fill 1s forwards;
  --moz-animation: fill 1s forwards;
  animation: fill 0.4s forwards;
}
.nav-hidden {
  transition: 0.6s ease-in-out;
  position: fixed;
  right: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  z-index: 3;
}
.nav-open {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  transition: 0.6s ease-out !important;
  z-index: 3;
}
.hamburger {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #f9d84c;
  z-index: 10;
}
.hamburger-2 {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
}
.hamburger-2 .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-2 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-2 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 5px;
    background: #f9d84c;
  }
}
/* ------- */

/* HERO SECTION */
.heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.bg-img {
  position: relative;
  z-index: 1;
  background-image: url("/src/assets/png/Bgimg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.overflow_hidden {
  overflow: hidden;
}
.btn-get-in-touch {
  width: 157px;
  height: 48px;
  background: #faca10;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
  border-radius: 5px;
  border: 1px solid #faca10;
  color: white;
  transition: 0.3s ease-in-out;
}
.bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 254, 254, 0.8);
  z-index: -1;
}
.btn-get-in-touch:hover {
  border: 3px solid #faca10;
  background: transparent;
  color: #faca10;
}
.heroimg {
  border-radius: 37px;
  filter: drop-shadow(8px 9px 19px rgba(0, 0, 0, 0.2));
}
.ellipse {
  position: absolute;
  right: 17%;
  top: 20%;
}
/* --------- */

@media (min-width: 768px) {
  .logo {
    width: 223px;
  }
}
@media (min-width: 992px) {
  .heroimg {
    position: absolute;
    max-width: 700px;
    right: -19%;
    transform: translateX(11px);
    z-index: -1;
    top: 0%;
    border-radius: 37px;
    filter: drop-shadow(8px 9px 19px rgba(0, 0, 0, 0.2));
  }
  .text-bg-color {
    position: relative;
    z-index: 1;
    height: 510px;
  }
}
@media (min-width: 1200px) {
  .heroimg {
    position: absolute;
    max-width: 700px;
    left: 44%;
    transform: translateX(11px);
    z-index: -1;
    top: 0%;
    border-radius: 37px;
    filter: drop-shadow(8px 9px 19px rgba(0, 0, 0, 0.2));
  }
  .nav-hidden {
    transition: 0.6s ease-in-out;
    position: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: unset;
    z-index: 3;
  }
}
@media (min-width: 1400px) {
  .heroimg {
    position: absolute;
    max-width: 852px;
    left: 35%;
    transform: translateX(11px);
    z-index: -1;
    top: 0%;
    border-radius: 37px;
    filter: drop-shadow(8px 9px 19px rgba(0, 0, 0, 0.2));
  }
  .text-bg-color {
    position: relative;
    z-index: 1;
    height: 625px;
  }
}
