/* NAVBAR */
.logo {
  width: 153px;
}
.thefirm-nav ul li a {
  transition: all 2s;
}
.thefirm-nav ul li a:hover {
  color: #1e1e1e;
}
.thefirm-nav ul li a:hover::before {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 100%;
  height: 5px;
  bottom: 21%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fill 0.4s forwards;
}
.nav-hidden {
  transition: 0.6s ease-in-out;
  position: fixed;
  right: -100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  z-index: 3;
}
.nav-open {
  background-color: #fff;
  position: fixed;
  right: 0;
  top: 0;
  gap: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  transition: 0.6s ease-out !important;
  z-index: 3;
}
.hamburger {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.4s ease-in-out;
  background-color: #f9d84c;
  z-index: 10;
}
.hamburger-2 {
  background-color: transparent;
  border: none;
  position: relative;
  z-index: 10;
}
.hamburger-2 .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-2 .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-2 .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
@keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 2px;
  }
  100% {
    width: 100%;
    height: 5px;
    background: #f9d84c;
  }
}
/* ------- */

/* HERO SECTION */
.heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.bg-img {
  position: relative;
  z-index: 1;
  background-image: url("/src/assets/png/Bgimg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.overflow_hidden {
  overflow: hidden;
}
.btn-yellow {
  width: 157px;
  height: 48px;
  background: #faca10;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
  border-radius: 5px;
  border: 3px solid #faca10;
  color: white;
  transition: 0.3s ease-in-out;
}
.bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 254, 254, 0.8);
  z-index: -1;
}
.btn-yellow:hover {
  border: 3px solid #faca10;
  background: transparent;
  color: #faca10;
}
.heroimg {
  border-radius: 37px;
  filter: drop-shadow(8px 9px 19px rgba(0, 0, 0, 0.2));
}
.ellipse {
  position: absolute;
  right: 17%;
  top: 20%;
}
/* --------- */

/* OUR PARTNERS */
.text-partner::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  left: 2%;
  top: 70%;
  z-index: -1;
  background-color: #faca10;
}
.logos-bg {
  width: 100%;
  height: 120px;
  background: #f7f7f7;
  border-radius: 20px;
  cursor: pointer;
}
.logos {
  filter: grayscale(100%);
  width: 160px;
  transition: 0.3s ease-in-out;
}
.logos-bg:hover .logos {
  filter: grayscale(0%);
}
.windows-logo {
  width: 64px !important;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 40px !important;
  opacity: 1 !important;
  color: #f6f6f6 !important;
}
.sec-our-partner .slick-dots {
  top: 110%;
}
.sec-our-partner .slick-dots li button:before {
  font-size: 16px;
  color: #faca10;
}
.sec-our-partner .slick-dots li.slick-active button:before {
  color: #faca10;
}
.sec-our-partner .slick-next:before {
  content: url("/src/assets/svg/partnernextarrow.svg");
}
.slick-prev:before {
  content: url("/src/assets/svg/partnerprevarrow.svg") !important;
}
.sec-our-partner .slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -3%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
}
.sec-our-partner .slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: 100%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  opacity: 1 !important;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
}
/* ------------ */

/* FRUSTRATION OF CLIENTS */
.sec-frustration-of-clients {
  position: relative;
  z-index: 1;
}
.text-clients::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 5px;
  left: 10%;
  top: 70%;
  z-index: -1;
  background-color: #faca10;
}

/* ------- */

/* REASON TO CHOOSE US */
.text-us::before {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 70%;
  height: 5px;
  bottom: 21%;
  z-index: -1;
  left: 60%;
  transform: translateX(-50%);
}
.sec-reason-to-choose {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.tasks-box {
  min-width: 180px;
  height: 48px;
  background: #ffffff;
  border: 2px solid #f7f7f7;
  box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
  border-radius: 5px;
}
.tasks-box-2 {
  min-width: 180px;
  height: 48px;
  background: #faca10;
  border: 2px solid #faca10;
  box-shadow: 0px 10px 40px -12px rgba(196, 196, 196, 0.35);
  border-radius: 5px;
}
.arrow {
  fill: #faca10;
  stroke: #faca10;
}
.arrow-2 {
  fill: #f7f7f7;
  stroke: #f7f7f7;
}
.tasks-info-box-bg {
  background: #ffffff;
  border-radius: 30px;
  position: sticky;
  z-index: 1;
}
.tasks-tabs-box {
  max-width: 990px;
  overflow-x: scroll;
  margin: 0 auto;
}
.img-bg-box {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.light-yellow-circle {
  min-width: 66px;
  height: 66px;
  background: #fefae7;
  border-radius: 50%;
}
.yellow-circle {
  width: 56px;
  height: 56px;
  background: #faca10;
  box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
}
.speaker {
  width: 30px;
  height: 30px;
  animation: speaker 4s infinite;
}
.market-research-logo {
  width: 50px;
  height: 50px;
  animation: speaker 4s infinite;
}
.report-and-data-analysis {
  width: 40px;
  height: 30px;
  animation: speaker 4s infinite;
}
.branding::after {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 70px;
  height: 5px;
  bottom: 18%;
  z-index: -1;
  left: 16%;
  transform: translateX(-50%);
}
.marketing::after {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 40%;
  height: 5px;
  bottom: 20%;
  z-index: -1;
  left: 23%;
  transform: translateX(-50%);
}
.report::after {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 80px;
  height: 5px;
  bottom: 20%;
  z-index: -1;
  left: 16%;
  transform: translateX(-50%);
}
.data-analysis::after {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 80px;
  height: 5px;
  bottom: 18%;
  z-index: -1;
  left: 20%;
  transform: translateX(-50%);
}
.btn-read-more {
  width: 157px;
  height: 48px;
  background: #1e1e1e;
  box-shadow: 0px 10px 40px -12px rgba(30, 30, 30, 0.35);
  border-radius: 5px;
  color: #fff;
  border: 1px solid;
  transition: 0.4s ease-in-out;
}
.btn-read-more:hover {
  background-color: #faca10;
  border: 1px solid #faca10;
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.35);
}
@keyframes speaker {
  0% {
    transform: translateY(8%) translateX(4%);
    rotate: -8deg;
  }
  50% {
    transform: translateY(-8%) translateX(-4%);
    rotate: 8deg;
  }
  100% {
    transform: translateY(8%) translateX(4%);
    rotate: -8deg;
  }
}
/* ----- */

/* PERFECT SOLUTION */
.solution-sec-img-box {
  width: 100% !important;
  background: #ffffff;
  border-radius: 30px;
  border: 1px solid #faca10;
  margin: auto;
}
.sec-perfect-solution .slick-next,
.slick-prev {
  top: 50%;
  left: 95%;
  opacity: 1;
}
.sec-perfect-solution .slick-dots {
  bottom: -5px;
  left: 0;
}
.sec-perfect-solution .slick-dots li button:before {
  font-size: 16px;
  color: #faca10;
}
.sec-perfect-solution .slick-dots li.slick-active button:before {
  color: #faca10;
}
.sec-perfect-solution .slick-next:before {
  content: url("/src/assets/svg/partnernextarrow.svg");
}
.bg-logo {
  width: 400px;
  position: absolute;
  left: 45%;
  top: 35%;
  transform: translateX(-50%);
  opacity: 0.4;
}
.yellow-ellipse {
  position: absolute;
  width: 84px;
  height: 84px;
  left: 10px;
  top: 42%;
  background: #fff0b6;
  opacity: 0.5;
  border-radius: 100%;
  z-index: -1;
}
.yellow-ellipse-2 {
  left: 68%;
  z-index: -1;
  top: 71%;
  opacity: 0.5;
}
.grey-ellipse {
  position: absolute;
  left: 42%;
  top: 9%;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  background: #c4c4c4;
  opacity: 0.1;
}
.grey-ellipse-2 {
  left: 48%;
  top: 79%;
  opacity: 1;
  z-index: -1;
}
.grey-ellipse-3 {
  left: 35%;
  top: 82%;
  opacity: 1;
  z-index: -1;
}
.text-bussiness::before {
  content: "";
  position: absolute;
  width: 94%;
  height: 5px;
  left: 6%;
  top: 69%;
  background: #faca10;
  z-index: -1;
}
/* -------- */

/* OUR RESEARCH */
.text-studies::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 5px;
  left: 9%;
  top: 72%;
  z-index: -1;
  background-color: #faca10;
}
.research {
  width: 100%;
  display: flex !important;
}
.research-img-bg {
  background: #ffffff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}
.sec-our-research .slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 12%;
  transform: translateX(22%) translateY(13%);
  left: 8%;
  z-index: 1;
  display: block;
  width: 40px;
  height: 36px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  mix-blend-mode: multiply;
  opacity: 0.3;
  border-radius: 30px 0px 0px 30px;
}
.sec-our-research .slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 14%;
  left: 15%;
  display: block;
  width: 42px;
  height: 38px;
  padding: 0;
  transform: translate(-38%, -42%);
  cursor: pointer;
  z-index: 1;
  opacity: 1;
  color: transparent;
  background: transparent;
  border-radius: 0px 30px 30px 0px;
}
.sec-our-research .slick-prev:before {
  content: "" !important;
}
.sec-our-research .slick-next:before {
  content: "" !important;
}
.prev-arrow-bg {
  width: 46px;
  height: 38px;
  background: #faca10;
  opacity: 0.3;
  border-radius: 30px 0px 0px 30px;
}
.next-arrow-bg {
  width: 46px;
  height: 38px;
  background: #faca10;
  border-radius: 0px 30px 30px 0px;
}
.arrows-bg {
  position: absolute;
  top: 28%;
  left: 14%;
  transform: translateX(-48%);
  border-radius: 30px;
  width: 92px;
  height: 42px;
  background: #fffcf0;
}
.sec-our-research .slick-list {
  padding: 0 0 0 48px !important;
}
.sec-our-research-yellow-cicle {
  transform: translate(-32%, -43%);
  z-index: -1;
  position: relative;
  border-radius: 100%;
  width: 139px;
  height: 139px;
  background: #faca10;
  opacity: 0.3;
}
/* -------- */

/* OUR BLOGS  */
.sec-our-blog {
  z-index: 1;
}
.our-blogs-cards {
  max-width: 340px;
  background: #ffffff;
  border: 1px solid rgba(250, 202, 16, 0.4);
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.09);
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}
.our-blogs-cards:hover {
  box-shadow: 0px 10px 40px -12px rgba(250, 202, 16, 0.4);
}
.watch-circle {
  border-radius: 50%;
  width: 14px;
  height: 12px;
  background: transparent;
  border: 1px solid #b0b0b0;
}
.text-blogs::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  left: 2%;
  top: 72%;
  z-index: -1;
  background-color: #faca10;
}
.hr-line {
  border: 1px solid #e7e7e7;
  max-width: 319px;
  height: 0px;
}
.alex-img {
  filter: drop-shadow(0px 4px 4px rgba(250, 202, 16, 0.2));
  width: 30px;
  height: 27px;
}
.clock-hands {
  margin-left: 1px;
  width: 4px;
  height: 7px;
  animation: hand 4s infinite;
}
@keyframes hand {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
/* ------ */

/* OUR TESTIMONIALS */
.text-testimonials::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  left: 3%;
  top: 72%;
  z-index: -1;
  background-color: #faca10;
}
.profile {
  width: 82px;
  height: 82px;
}
.sec-testimonial .slick-center {
  transform: scale(1.8);
}
.sec-testimonial .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 46px !important;
}
.sec-testimonial .slick-center + .slick-active {
  transform: scale(1.4);
}
.sec-testimonial .slick-active:has(+ .slick-center) {
  transform: scale(1.4);
}
.profilebg {
  position: absolute;
  left: 26%;
  top: 1%;
  z-index: -1;
  width: 96px;
  height: 96px;
  display: none !important;
}
.doublecomma {
  position: absolute;
  left: 57%;
  top: 67%;
  width: 30px;
  height: 30px;
  display: none !important;
}
.sec-testimonial .slick-center .profilebg {
  display: block !important;
}
.sec-testimonial .slick-center .doublecomma {
  display: block !important;
}
.our-testimonial-para {
  max-width: 350px;
  padding-right: 50px;
}
.vr-line {
  height: 19px;
  width: 2px;
  border-radius: 2px;
  background-color: black;
}
.sec-testimonial .slick-dots li button:before {
  font-family: "slick";
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #faca10;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.sec-testimonial .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #faca10;
}
.testimonial-yellow-circle {
  margin: 0 auto;
  width: 104px !important;
  height: 104px;
  background: transparent;
  border: 2px solid #feefb8;
  border-radius: 100%;
}
.testimonial-yellow-circle-2 {
  width: 80px;
  height: 80px;
  background: transparent;
  border: 2px solid #feefb8;
  border-radius: 100%;
}
/* ------- */

/* GET IN TOUCH */
.sec-get-in-touch {
  position: relative;
  z-index: 1;
}
.form-box {
  transform: translateY(-10%);
  position: relative;
  z-index: 1;
  max-width: 938px;
  background: #ffffff;
  box-shadow: 0px 19px 34px 14px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
}
.text-touch::before {
  content: "";
  position: absolute;
  width: 95%;
  height: 5px;
  left: 5%;
  top: 72%;
  z-index: -1;
  background-color: #faca10;
}
.form-input {
  border: none;
  width: 250px;
  border-bottom: 2px solid #a5a5a5 !important;
  outline: none;
}
::placeholder {
  color: #1e1e1e;
}
.hr-line-2 {
  max-width: 352px;
  height: 2px;
  background-color: #a5a5a5;
  border: 1px solid #a5a5a5;
}
.form-select {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
  --webkit-appearance: none !important;
  background: url("/src/assets/svg/dropdownarrow.svg") no-repeat right white !important;
  outline: 0 !important;
  border: 0 !important;
  display: inline-block;
  position: relative;
  box-shadow: none !important;
  cursor: pointer;
  width: 250px !important;
  border-radius: none !important;
  transition: none !important;
}
/* ----- */

/* FOOTER */
.sec-footer {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.footer-link-box {
  max-width: 990px;
  overflow-x: scroll;
  margin: 0 auto;
}
.footer-links {
  transition: all 2s;
}
.footer-links:hover {
  color: #1e1e1e;
}
.footer-links:hover::before {
  content: "";
  position: absolute;
  background-color: #f9d84c;
  width: 100%;
  height: 5px;
  bottom: 21%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fill 0.4s forwards;
}
.social-logo svg path {
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.social-logo {
  cursor: pointer;
}
.social-logo:hover svg path {
  fill: #fbcc04;
}
.youtube :hover {
  fill: #fbcc04;
}
/* --------- */
@media (min-width: 576px) {
  .logo {
    width: 223px;
  }
  .solution-sec-img-box {
    width: 75% !important;
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #faca10;
    margin: auto;
  }
  .data-analysis::after {
    width: 122px;
    height: 5px;
    bottom: 12%;
    left: 15%;
  }
  .report::after {
    width: 15%;
    height: 5px;
    bottom: 20%;
    z-index: -1;
    left: 8%;
  }
  .branding::after {
    width: 19%;
    height: 5px;
    bottom: 17%;
    left: 11%;
  }
  .marketing::after {
    width: 35%;
    height: 5px;
    bottom: 20%;
    left: 18%;
  }
  .form-input {
    width: 190px;
  }
  .form-select {
    width: 190px !important;
  }
  .form-box {
    transform: translateY(-35%);
  }
  .sec-our-research .slick-list {
    padding: 0 50px !important;
  }
  .profilebg {
    position: absolute;
    left: 42%;
    top: 1%;
  }
  .our-testimonial-para {
    max-width: 750px;
    margin-right: 90px;
  }
  .doublecomma {
    left: 52%;
  }
}
@media (min-width: 768px) {
  .logo {
    width: 223px;
  }
  .data-analysis::after {
    width: 122px;
    height: 5px;
    bottom: 16%;
    left: 11%;
  }
  .branding::after {
    width: 13%;
    height: 5px;
    bottom: 16%;
    left: 7%;
  }
  .marketing::after {
    width: 25%;
    height: 5px;
    bottom: 20%;
    left: 13%;
  }
  .solution-sec-img-box {
    width: 285px !important;
    background: #ffffff;
    border-radius: 30px;
    border: 1px solid #faca10;
    margin: 0;
    box-shadow: 0px 20px 30px 1px rgba(0, 0, 0, 0.1);
  }
  .footer-link-box {
    max-width: 990px;
    overflow-x: unset;
    margin: 0 auto;
  }
  .form-input {
    width: 250px;
  }
  .form-select {
    min-width: 250px !important;
  }
  .profilebg {
    position: absolute;
    left: 27%;
    transform: translateX(1%);
    top: 1%;
  }
}
@media (min-width: 992px) {
  .heroimg {
    position: absolute;
    max-width: 700px;
    right: -13%;
    transform: translateX(11px);
    z-index: -1;
    top: 0%;
    border-radius: 37px;
    filter: drop-shadow(8px 9px 19px rgba(0, 0, 0, 0.2));
  }
  .text-bg-color {
    position: relative;
    z-index: 1;
    height: 510px;
  }
  .tasks-tabs-box {
    max-width: unset;
    overflow-x: unset;
    margin: 0 unset;
  }
  .data-analysis::after {
    width: 182px;
    height: 5px;
    bottom: 16%;
    left: 29%;
  }
  .report::after {
    width: 28%;
    height: 5px;
    bottom: 20%;
    left: 14%;
  }
  .branding::after {
    width: 40%;
    height: 5px;
    bottom: 13%;
    left: 20%;
  }
  .marketing::after {
    width: 72%;
    height: 5px;
    bottom: 20%;
    left: 37%;
  }
  .form-input {
    border: none;
    width: 353px;
    border-bottom: 2px solid #a5a5a5 !important;
  }
  .form-select {
    width: 353px !important;
  }
  .profilebg {
    position: absolute;
    left: 22%;
    top: 1%;
  }
}

@media (min-width: 1200px) {
  .heroimg {
    max-width: 710px;
    top: 0%;
    right: 0%;
    transform: translateX(11px);
  }
  .nav-hidden {
    transition: 0.6s ease-in-out;
    position: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: unset;
    z-index: 3;
  }
  .data-analysis::after {
    width: 172px;
    height: 5px;
    bottom: 18%;
    left: 22%;
  }
  .report::after {
    width: 21%;
    height: 5px;
    bottom: 20%;
    left: 11%;
  }
  .branding::after {
    width: 30%;
    height: 5px;
    bottom: 15%;
    left: 16%;
  }
  .marketing::after {
    width: 56%;
    height: 5px;
    bottom: 20%;
    left: 28%;
  }
  .min-h-100 {
    min-height: 100vh;
  }
  .sec-our-research .slick-prev,
  .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 20%;
    transform: translateX(18%) translateY(1%);
    left: 48%;
    z-index: 1;
    display: block;
    width: 40px;
    height: 36px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    mix-blend-mode: multiply;
    opacity: 0.3;
    border-radius: 30px 0px 0px 30px;
  }
  .sec-our-research .slick-next,
  .slick-prev {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 24%;
    left: 54%;
    display: block;
    width: 42px;
    height: 38px;
    padding: 0;
    transform: translate(-46%, -51%);
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    color: transparent;
    background: transparent;
    border-radius: 0px 30px 30px 0px;
  }
  .arrows-bg {
    top: 39%;
    left: 52%;
    transform: translateX(-48%) translateY(9%);
  }
  .sec-our-research .slick-list {
    padding: 0 50px !important;
  }
  .profilebg {
    position: absolute;
    left: 22%;
    top: 1%;
  }
}
@media (min-width: 1400px) {
  .heroimg {
    max-width: 947px;
    right: 0%;
    top: 12%;
    transform: translateX(11px);
  }
  .text-bg-color {
    position: relative;
    z-index: 1;
    height: 625px;
  }
  .data-analysis::after {
    width: 182px;
    height: 5px;
    bottom: 18%;
    left: 20%;
  }
  .branding::after {
    width: 25%;
    height: 5px;
    bottom: 15%;
    left: 13%;
  }
  .marketing::after {
    width: 46%;
    height: 5px;
    bottom: 20%;
    left: 23%;
  }
  .profilebg {
    position: absolute;
    left: 22%;
    top: 1%;
  }
}
@media (min-width: 1920px) {
  .heroimg {
    max-width: 852px;
    top: -2%;
    right: -5%;
    transform: translateX(11px);
  }
  .hero-sec-container {
    position: relative;
  }
  .profilebg {
    position: absolute;
    left: 22%;
    top: 1%;
  }
}
